registry=https://pkgs.dev.azure.com/hansel-azure/Hilma/_packaging/hilma/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/hansel-azure/Hilma/_packaging/hilma/npm/registry/:username=hansel-azure
//pkgs.dev.azure.com/hansel-azure/Hilma/_packaging/hilma/npm/registry/:_password=#{AZURE_DEVOPS_PAT_BASE64ENCODED}#
//pkgs.dev.azure.com/hansel-azure/Hilma/_packaging/hilma/npm/registry/:email=tekniset@hankintailmoitukset.fi
//pkgs.dev.azure.com/hansel-azure/Hilma/_packaging/hilma/npm/:username=hansel-azure
//pkgs.dev.azure.com/hansel-azure/Hilma/_packaging/hilma/npm/:_password=#{AZURE_DEVOPS_PAT_BASE64ENCODED}#
//pkgs.dev.azure.com/hansel-azure/Hilma/_packaging/hilma/npm/:email=tekniset@hankintailmoitukset.fi
; end auth token